#page_margin{
    height: 300px;
    margin-left:300px;
    margin-right:380px;
    margin-top: 100px;
    border-style: solid;
    border-color: greenyellow;

}

.header{
    margin-left: 250px;
    font-size: 30px;
    
}


#ticket_section{
    display: flex;
    width: 1000px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
}

.columns{
    margin-right: 100px;
}

#footer_section{
    height: 50px;
    width : 740px;
    margin-top: 8px; 

}


button{
    background-color:yellow;
    width : 740px;
    height: 50px;

}

button:hover{
    background-color: green;
}